
<div>
  <h1 class="m-4" style="color: #00AEEF" > {{title}}</h1>
</div>

<div  [ngSwitch]="data.url">
  <div *ngSwitchCase="'mantenedorOt'" >

<mat-tab-group [selectedIndex]="tabRouting">
  <mat-tab label="Información OT">
    <div  class="w-auto" mat-dialog-content [align]="'left'">

    <form [formGroup]="formGroup">
      <div style="overflow-y: hidden; overflow-x: hidden;">

        <div class="row">
          <h4 class="mb-1 w-0 refText" style="width: 50%;">OT</h4>
          <h4 class="mb-1 w-0 refText" style="width: 50%;" > Estado OT</h4>

        </div>

        <div class="row">
        <mat-form-field class=" pr-0 w-0 col-6" appearance="outline">
          <input formControlName="ot_id" matInput type="text" [placeholder]="data.values.ot_id" >
          <mat-error *ngIf="!formGroup.controls['ot_id'].valid
          && formGroup.controls['ot_id'].touched">
            {{titleAlert}}
          </mat-error>
        </mat-form-field>



        <mat-form-field class=" w-0  col-6" appearance="outline">
          <mat-select   formControlName="ot_state" [(ngModel)]="selectedState" class="col-4" appearance="outline"  placeholder="Estado" class="w-100">
            <mat-option *ngFor="let option of filterOptions" [value]="option">
              {{ option}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!formGroup.controls['ot_state'].valid
          && formGroup.controls['ot_state'].touched">
            {{titleAlert}}
          </mat-error>
        </mat-form-field>
      </div>

        <h4 class="mb-1 refText"> Dirección</h4>
        <mat-form-field class=" w-100 col-8" appearance="outline">
          <input formControlName="direction" matInput type="text" [placeholder]="data.values.direction" >
          <mat-error *ngIf="!formGroup.controls['direction'].valid">
            {{titleAlert}}
          </mat-error>
        </mat-form-field>


        <div class="row">
          <h4 class="mb-1 w-0 refText" style="width: 50%;">Patente hidráulico</h4>
          <h4 class="mb-1 w-0 refText" style="width: 50%;" > Nombre</h4>

        </div>

        <div class="row">
        <mat-form-field class=" w-10 col-6" appearance="outline">
          <input formControlName="hydraulic_movil_id" matInput type="text" [placeholder]="data.values.hydraulic_movil_id" >
          <mat-error *ngIf="!formGroup.controls['hydraulic_movil_id'].valid
          && formGroup.controls['hydraulic_movil_id'].touched">
            {{titleAlert}}
          </mat-error>
        </mat-form-field>

        <mat-form-field class=" w-10 col-6" appearance="outline">
          <input formControlName="n_hidraulico" matInput type="text" [placeholder]="data.values.n_hidraulico" >
          <mat-error *ngIf="!formGroup.controls['n_hidraulico'].valid
          && formGroup.controls['n_hidraulico'].touched">
            {{titleAlert}}
          </mat-error>
        </mat-form-field>
      </div>


      <div class="row">
        <h4 class="mb-1 w-0 refText" style="width: 50%;">Patente civil</h4>
        <h4 class="mb-1 w-0 refText" style="width: 50%;" > Nombre</h4>

      </div>

      <div class="row">
        <mat-form-field class=" w-50 col-8" appearance="outline">
          <mat-select   (selectionChange)="NameOfConductor($event.value)"  formControlName="civil_movil_id" class="col-4" appearance="outline"   class="w-100">
            <mat-option  class="w-100" *ngFor="let movil of civil_chofer" [value]="movil.movil_id" >
              {{ movil.movil_id }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!formGroup.controls['civil_movil_id'].valid
          && formGroup.controls['civil_movil_id'].touched">
            {{titleAlert}}
          </mat-error>
        </mat-form-field>

        <mat-form-field class=" w-50 col-8" appearance="outline">
          <input [value]="conductorName" formControlName="n_civil" matInput type="text" [placeholder]="data.values.n_civil" >
          <mat-error *ngIf="!formGroup.controls['n_civil'].valid
          && formGroup.controls['n_civil'].touched">
            {{titleAlert}}
          </mat-error>
        </mat-form-field>
      </div>


      <mat-form-field style="width: 100%;" class=" w-0 col-2" appearance="outline">
        <textarea [value]="" formControlName="observation" matInput type="text" placeholder="Observaciones" >
          {{data.values.observation}}
        </textarea>

      </mat-form-field>

        </div>
    </form>
    </div>
  </mat-tab>
  <mat-tab  label="Partidas OH">
    <ot-item-dialog></ot-item-dialog>
  </mat-tab>
  <mat-tab label="Material OH">
    <ot-material-dialog (tabChanged)="changeTabIndex($event)"></ot-material-dialog>
  </mat-tab>
  <mat-tab label="Partidas OC">
    <ot-itemOC-dialog></ot-itemOC-dialog>
  </mat-tab>
</mat-tab-group>

<!-- <button (click)="changeTabIndex(-1)">Anterior</button>
<button (click)="changeTabIndex(1)">Siguiente</button> -->

  </div>
</div>



<div  class="w-auto" mat-dialog-content [align]="'left'">
  <form [formGroup]="formGroup">
    <div  [ngSwitch]="data.url">

      <!-- FORMULARIO EDIT INVENTARIO -->
      <div *ngSwitchCase="'mantenedorInventario'">
      <div style="overflow-y: hidden; overflow-x: hidden;">
        <h4 class="mb-1 refText"> Categoría</h4>

        <mat-form-field class=" w-100  col-8" appearance="outline">
          <input formControlName="product_category" matInput type="text" [placeholder]="data.values.product_category" >
          <mat-error *ngIf="!formGroup.controls['product_category'].valid
          && formGroup.controls['product_category'].touched">
            {{titleAlert}}
          </mat-error>
        </mat-form-field>

        <h4 class="mb-1 refText"> Unidad del producto </h4>

        <mat-form-field class=" w-100 col-8" appearance="outline">
          <input  formControlName="product_unit" matInput type="text" [placeholder]="data.values.product_unit" >
          <mat-error *ngIf="!formGroup.controls['product_unit'].valid
          && formGroup.controls['product_unit'].touched">
            {{titleAlert}}
          </mat-error>
        </mat-form-field>

        <h4 class="mb-1 refText"> Cantidad en inventario</h4>

        <mat-form-field class=" w-100 col-8" appearance="outline">
          <input formControlName="quantity" matInput type="text" [placeholder]="data.values.quantity" >
          <mat-error *ngIf="!formGroup.controls['quantity'].valid
          && formGroup.controls['quantity'].touched">
            {{titleAlert}}
          </mat-error>
        </mat-form-field>

        </div>
      </div>
      <!-- FORMULARIO EDIT INVENTARIO -->


  <!-- FORMULARIO EDIT OT-->

      <!-- FORMULARIO EDIT OT-->




    </div>
  </form>
  <div>
    <button mat-raised-button mat-dialog-close="">Cancelas</button>
    <button mat-raised-button [disabled]="!formGroup.valid || clicked " (click)="formButtonEvent(); clicked=true" class="btn-custom" >Confirmar</button>

  </div>
</div>
