
<div>
  <h1 class="m-4" style="color: #00AEEF" > {{title}}</h1>
</div>

<div  class="w-auto" mat-dialog-content [align]="'left'">
  <form [formGroup]="formGroup">
    <div  [ngSwitch]="data.url">
      <div style="overflow-y: hidden;">
        <mat-form-field class=" w-100  col-8" appearance="outline">
          <input formControlName="product_category" matInput type="text" [placeholder]="data.values.product_category" >
          <mat-error *ngIf="!formGroup.controls['product_category'].valid
          && formGroup.controls['product_category'].touched">
            {{titleAlert}}
          </mat-error>
        </mat-form-field>

        <mat-form-field class=" w-100 col-8" appearance="outline">
          <input formControlName="product_name" matInput type="text" [placeholder]="data.values.product_name" >
          <mat-error *ngIf="!formGroup.controls['product_name'].valid
          && formGroup.controls['product_name'].touched">
            {{titleAlert}}
          </mat-error>
        </mat-form-field>

        <mat-form-field class=" w-100 col-8" appearance="outline">
          <input  formControlName="product_unit" matInput type="text" [placeholder]="data.values.product_unit" >
          <mat-error *ngIf="!formGroup.controls['product_unit'].valid
          && formGroup.controls['product_unit'].touched">
            {{titleAlert}}
          </mat-error>
        </mat-form-field>

        <mat-form-field class=" w-100 col-8" appearance="outline">
          <input formControlName="quantity" matInput type="text" [placeholder]="data.values.quantity" >
          <mat-error *ngIf="!formGroup.controls['quantity'].valid
          && formGroup.controls['quantity'].touched">
            {{titleAlert}}
          </mat-error>
        </mat-form-field>

      </div>
    </div>
  </form>
  <div>
    <button mat-raised-button mat-dialog-close="">Cancelas</button>
    <button mat-raised-button [disabled]="!formGroup.valid || clicked " (click)="formButtonEvent(); clicked=true" class="btn-custom" >Confirmar</button>

  </div>
</div>
