.flowTable{overflow-x: hidden;}
.mdc-data-table__table {
  min-width: 99% !important;
}

.btn-custom{
  width: 104px;
  float: right;
  margin-right: 24px;
  text-align: center;
}

.refText{

  color: black;
}

input[type="number"] {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button,
  &::-o-outer-spin-button,
  &::-o-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
}

.field-style{
  padding-right: 8px;
}
.btn-custom{
  width: 0px;
  height: 0px;
}

.btn-custom-add{
  display: flex;
  justify-content:center;
align-items: center;
}

.circle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #00bcd4; /* Cambiar el color celeste a tu preferencia */
}

.white-icon {
  color: white; /* Hacer que el icono sea blanco */
}

.placeholderText {
  font-weight: 600;
  color: black;
}
