<div  class="w-auto" mat-dialog-content [align]="'left'">

  <form [formGroup]="formOCItemOt" (ngSubmit)="onSubmit()">

    <div class="row">
      <h4 class="mb-1 w-0 refText" style="width: 11.5%;">Partida</h4>
      <h4 class="mb-1 w-50 refText" style="width: 20%;" > Desc. partida</h4>
      <h4 class="mb-1 w-0 refText" style="width: 11.5%;" > Cantidad</h4>
      <h4 class="mb-1 w-0 refText" style="width: 11.5%;" > Precio</h4>
      <h4 class="mb-1 w-0 refText" style="width: 11.5%;" > Total</h4>
    </div>

    <div class="row">
      <form [formGroup]="formulario">
        <div *ngFor="let item of itemOCOT; let i = index">
          <mat-form-field style="width: 11.5%;" class=" w-0 col-2" appearance="outline">
            <input formControlName="{{item.item_id}}" matInput type="text" [placeholder]="item.item_id">
          </mat-form-field>
          <mat-form-field  style="width: 52.5%;" class=" w-0 col-2" appearance="outline">
            <input formControlName="{{item.description}}" matInput type="text" [placeholder]="item.description">
          </mat-form-field>
          <mat-form-field style="width: 8%;" class=" w-0 col-2" appearance="outline">
            <input formControlName="{{item.quantity}}" matInput type="text" [placeholder]="item.description">
          </mat-form-field>
          <mat-form-field style="width: 14%;" class=" w-0 col-2" appearance="outline">
            <input formControlName="{{item.item_value}}" matInput type="text" [placeholder]="item.item_value">
          </mat-form-field>
          <mat-form-field style="width: 14%;" class=" w-0 col-2" appearance="outline">
            <input formControlName="{{item.total_item_value}}" matInput type="text" [placeholder]="item.total_item_value">
          </mat-form-field>
        </div>
      </form>


            <div formArrayName="fields">
              <div *ngFor="let field of fields.controls; let i=index" [formGroupName]="i">

                <!-- <div>
                  <input type="text" id="field1-{{i}}" formControlName="selectedItemId">
                </div> -->

                <mat-form-field style="width: 11.5%;" class=" w-0 col-2" appearance="outline">
                  <input  (keyup)="onItemIdChanged($event, i)" formControlName="selectedItemId" matInput type="text" placeholder="1291" >
                  <mat-error *ngIf="!formOCItemOt.controls['selectedItemId'].valid
                  && formOCItemOt.controls['selectedItemId'].touched">
                    {{titleAlert}}
                  </mat-error>
                </mat-form-field>

                <mat-form-field class=" w-50 col-12" appearance="outline">
                  <input formControlName="description"  [value]="selectedItemDescription[i]" matInput type="text" placeholder="1291" >

                </mat-form-field>

                <mat-form-field style="width: 8%; " class=" w-0 col-2" appearance="outline">
                  <input (keyup)="totalValue($event,i)"  formControlName="quantity" matInput type="text" placeholder="1291" >
                  <mat-error *ngIf="!formOCItemOt.controls['quantity'].valid
                  && formOCItemOt.controls['quantity'].touched">
                    {{titleAlert}}
                  </mat-error>
                </mat-form-field>

                <mat-form-field style="width: 16%;" class=" w-0 col-2" appearance="outline">
                  <input [value]="selectedItemValue[i]" formControlName="price" matInput type="text" placeholder="12914" >
                  <mat-error *ngIf="!formOCItemOt.controls['price'].valid
                  ">
                    {{titleAlert}}
                  </mat-error>
                </mat-form-field>
                <mat-form-field style="width: 14%;" class=" w-0 col-2" appearance="outline">
                  <input [value]="totalValueItem[i]" formControlName="total" matInput type="number" placeholder="1291" >
                  <mat-error *ngIf="!formOCItemOt.controls['total'].valid
                  ">
                    {{titleAlert}}
                  </mat-error>
                </mat-form-field>

                <div  class="btn-custom-add" style="padding-bottom: 22px;">
                  <button class=" circle-button" style="float: left; " title="Borrar campo"  mat-icon-button color="primary" type="button" (click)="removeField(i)"><mat-icon class="white-icon" >horizontal_rule</mat-icon></button>
                </div>
              </div>
            </div>

            <div class="btn-custom-add">
              <button  class=" circle-button" mat-icon-button color="primary" type="button" (click)="addField()" title="Agregar campo"><mat-icon class="white-icon">add</mat-icon></button>
            </div>


        <!-- </ng-container>

      </ng-container>
      <button type="button" (click)="additemOtForm()">Add</button> -->

    </div>

  </form>
  </div>
