<!-- (selectionChange)="loadOts($event.value.inventory_id)" -->

<h2 class="m-3 ">Mantenedor OT</h2>

<div class="container-fluid">
  <div class="row">
     <mat-form-field appearance="outline" class="col-4" style="width: 40%">
        <mat-label>Filtro</mat-label>
        <input  matInput (keyup)="applyFilter($event)" placeholder="Ej. Pomodoro" #input>
      </mat-form-field>

<mat-form-field class="col-2 w-0" appearance="outline">
    <mat-select  (selectionChange)="loadOtByState($event.value)"  [(ngModel)]="selectedOption"   placeholder="CREADA" class="w-100">
      <mat-option *ngFor="let option of filterOptions" [value]="option">
        {{ option}}
      </mat-option>
    </mat-select>
    <mat-label>Estado</mat-label>

  </mat-form-field>
    <!-- <div class= "w-2 col-4" *ngIf="inventory_id == 'INV-JJKX21' ">
      <button (click)="addMaterial();" class="btn-custom" mat-raised-button mat-dialog-close="">Crear producto</button>
    </div> -->

    <div class= "w-2 col-12  ">
      <button (click)="openCreateDialog()" class="btn-custom" mat-raised-button mat-dialog-close="">Añadir material</button>
    </div>
  </div>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 m-2 rounded  w-25 h-auto overflow-hidden">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->


  <!-- Weight Column -->
  <ng-container matColumnDef="ot_id">
    <th mat-header-cell *matHeaderCellDef> OT </th>
    <td mat-cell *matCellDef="let element"> {{element.ot_id}} </td>
  </ng-container>


  <ng-container matColumnDef="direction">
    <th mat-header-cell *matHeaderCellDef> Dirección</th>
    <td mat-cell *matCellDef="let element"> {{element.street}} {{element.number_street}} {{element.commune}} </td>
  </ng-container>


   <ng-container matColumnDef="hydraulic_movil_id">
    <th mat-header-cell *matHeaderCellDef> Móvil hidráulico </th>
    <td mat-cell *matCellDef="let element"> {{element.hydraulic_movil_id}} </td>
  </ng-container>


   <ng-container matColumnDef="n_hidraulico">
    <th mat-header-cell *matHeaderCellDef> Nombre Hidráulico </th>
    <td mat-cell *matCellDef="let element"> {{element.n_hidraulico}} </td>
  </ng-container>

  <ng-container matColumnDef="civil_movil_id">
    <th mat-header-cell *matHeaderCellDef> Móvil civil </th>
    <td mat-cell *matCellDef="let element"> {{element.civil_movil_id}} </td>
  </ng-container>

  <ng-container matColumnDef="n_civil">
    <th mat-header-cell *matHeaderCellDef> Nombre civil </th>
    <td mat-cell *matCellDef="let element"> {{element.n_civil}} </td>
  </ng-container>

  <ng-container matColumnDef="ot_state">
    <th mat-header-cell *matHeaderCellDef> Estado OT </th>
    <td mat-cell *matCellDef="let element"> {{element.ot_state}} </td>
  </ng-container>

  <ng-container matColumnDef="started_at">
    <th mat-header-cell *matHeaderCellDef> Fecha de inicio </th>
    <td  [ngClass]=" formattedStartDate(row) && differenceInDays > 3 ? 'text-danger': ''"   mat-cell *matCellDef="let row"> {{ formattedStartDate(row) }} </td>
  </ng-container>

  <ng-container matColumnDef="options">
    <tr><th mat-header-cell *matHeaderCellDef> Acciones </th></tr>
    <tr>
      <td mat-cell *matCellDef="let row" style="width:0%">
        <button (click)="openEditDialog(row)" mat-icon-button color="primary"  title="Editar"><mat-icon>edit</mat-icon></button>
      </td>
    <tr>
  </ng-container>







  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
  (click)="onRowClicked(row)"></tr>
</table>
<mat-paginator class="mat-elevation-z8 m-2 rounded  w-auto h-auto overflow-hidden" #paginator [pageSizeOptions]="[5, 10,25,dataSource.length>8? dataSource.length:''  ]" showFirstLastButtons>
</mat-paginator>
