<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async; let i = index" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card " [attr.id]="'card-' + i">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content ">
          <div  *ngIf="card.title === 'Monto Mensual' && isData" >
            <div class="row rowDate">
              <div class="col-4 ">
              <mat-form-field >
                <input matInput  [matDatepicker]="picker1" placeholder="Fecha 1" [(ngModel)]="capturedDates.date1">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
            <div class=" inputDate2 col-4">
            <mat-form-field>
              <input  matInput  [matDatepicker]="picker2" placeholder="Fecha 2" [(ngModel)]="capturedDates.date2">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker   #picker2></mat-datepicker>
            </mat-form-field>
          </div>
          </div>
          <div class="mat-card-content">{{ totalMonthValue[0].total_value }}</div>
<button class="bottom-right-button"  mat-raised-button color="primary" (click)="getValueFromDates()"> Consultar </button>

</div>

<div  *ngIf="card.title === 'Partidas más repetidas' && isDataCard2" >
  <canvas #barChartCanvas id="barchart"></canvas>
</div>


<div  *ngIf="card.title === 'Producción por móvil' && isDataCard3" >
  <canvas style="height: 500px !important;" #barChartCanvas id="barchartHorizontal"></canvas>
</div>


<div style="max-height: 400px; " *ngIf="card.title === 'Alertas inventario' && isDataCard4" >
  <div *ngFor="let item of filteredInventory; let i=index">
    <div *ngIf="item.quantity < 8 && i === currentIndex">
      <p>Código producto: {{ item.product_id }}</p>
      <p>Inventario: {{ item.inventory_id }}</p>
      <p>Cantidad: {{ item.quantity }}</p>
      <p>Nombre: {{ item.product_name }}</p>
      <hr>
    </div>
  </div>
  <button mat-button (click)="previousItem()" [disabled]="isPreviousDisabled()">Anterior</button>
<button mat-button (click)="nextItem()" [disabled]="isNextDisabled()">Siguiente</button>
</div>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
