<div  class="w-auto" mat-dialog-content [align]="'left'">

  <form [formGroup]="formMaterialOt" (ngSubmit)="onSubmit()">

    <div class="row">
      <h4 class="mb-1 w-0 refText" style="width: 11.5%;">Partida</h4>
      <h4 class="mb-1 w-0 refText" style="width: 75%;" > Nombre material</h4>
      <h4 class="mb-1 w-0 refText" style="width: 11.5%;" > Cantidad</h4>
    </div>

    <div  class="row">
<div *ngIf="visualizer">
      <form [formGroup]="formulario">
        <div *ngFor="let item of productsOT; let i = index">
          <mat-form-field style="width: 11.5%;" class=" w-0 col-2" appearance="outline">
            <input formControlName="{{item.product_id}}" matInput type="text" [placeholder]="item.item_id">
          </mat-form-field>
          <mat-form-field  style="width: 52.5%;" class=" w-0 col-2" appearance="outline">
            <input formControlName="{{item.product_name}}" matInput type="text" [placeholder]="item.product_name">
          </mat-form-field>
          <mat-form-field style="width: 8%;" class=" w-0 col-2" appearance="outline">
            <input formControlName="{{item.quantity}}" matInput type="text" [placeholder]="item.quantity">
          </mat-form-field>

        </div>
      </form>
    </div>



            <div formArrayName="fields">
              <div *ngFor="let field of fields.controls; let i=index" [formGroupName]="i">

                <!-- <div>
                  <input type="text" id="field1-{{i}}" formControlName="selectedMaterialId">
                </div> -->

                <mat-form-field style="width: 11.5%;" class=" w-0 col-2" appearance="outline">
                  <input  (keyup)="onItemIdChanged($event, i)" formControlName="selectedMaterialId" matInput type="text" placeholder="1291" >
                  <mat-error *ngIf="!formMaterialOt.controls['selectedMaterialId'].valid
                  && formMaterialOt.controls['selectedMaterialId'].touched">
                    {{titleAlert}}
                  </mat-error>
                </mat-form-field>.

                <mat-form-field style="width: 70%; " class=" w-0 col-12" appearance="outline">
                  <input formControlName="description"  [value]="selectedItemDescription[i]" matInput type="text" placeholder="1291" >

                </mat-form-field>

                <mat-form-field style="width: 11.5%; " class=" w-0 col-2" appearance="outline">
                  <input  formControlName="quantity" matInput type="text" placeholder="1291" >
                  <mat-error *ngIf="!formMaterialOt.controls['quantity'].valid
                  && formMaterialOt.controls['quantity'].touched">
                    {{titleAlert}}
                  </mat-error>
                </mat-form-field>




                <div  class="btn-custom-add" style="padding-bottom: 22px;">
                  <button class=" circle-button" style="float: left; " title="Borrar campo"  mat-icon-button color="primary" type="button" (click)="removeField(i)"><mat-icon class="white-icon" >horizontal_rule</mat-icon></button>
                </div>
              </div>
            </div>

            <div class="btn-custom-add">
              <button  class=" circle-button" mat-icon-button color="primary" type="button" (click)="addField()" title="Agregar campo"><mat-icon class="white-icon">add</mat-icon></button>
            </div>

        <!-- </ng-container>

      </ng-container>
      <button type="button" (click)="additemOtForm()">Add</button> -->

    </div>

  </form>
  </div>
