
<div>
  <h1 class="m-4" style="color: #00AEEF" > {{title}}</h1>
</div>

<div  class="w-auto" mat-dialog-content [align]="'left'">
  <form [formGroup]="formGroup">
    <div  [ngSwitch]="data.url">
      <div style="overflow-y: hidden;">

        <h4 class="mb-1"> Inventario </h4>

        <mat-form-field class=" w-100  col-8" appearance="outline">
          <input formControlName="inventory_id" matInput type="text" [placeholder]="data.inventory" >
          <mat-error *ngIf="!formGroup.controls['inventory_id'].valid
          && formGroup.controls['inventory_id'].touched">
            {{titleAlert}}
          </mat-error>
        </mat-form-field>

        <h4 class="mb-1"> Nombre del producto </h4>

        <mat-form-field class=" w-100 col-8" appearance="outline">
          <mat-select formControlName="product_name" class="col-4" appearance="outline"  placeholder="Producto" class="w-25">
            <mat-option class="w-100" *ngFor="let product of products" [value]="product">
              {{ product.product_name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!formGroup.controls['product_name'].valid
          && formGroup.controls['product_name'].touched">
            {{titleAlert}}
          </mat-error>
        </mat-form-field>


        <h4 class="mb-1"> Cantidad </h4>

        <mat-form-field class=" w-100 col-8" appearance="outline">
          <input placeholder="123" formControlName="quantity" matInput type="text"  >
          <mat-error *ngIf="!formGroup.controls['quantity'].valid
          && formGroup.controls['quantity'].touched">
            {{titleAlert}}
          </mat-error>
        </mat-form-field>

      </div>
    </div>
  </form>
  <div>
    <button mat-raised-button mat-dialog-close="">Cancelas</button>
    <button mat-raised-button [disabled]="!formGroup.valid || clicked " (click)="formButtonEvent(); clicked=true" class="btn-custom" >Confirmar</button>

  </div>
</div>
